*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  margin: 8.4rem 3.2rem 5.4rem;
  background-color: var(--very-light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 58em) {
  body {
    min-height: 100vh;
    margin: 0 3rem;
    align-items: center;
  }
}

.four-card-feature-section-container {
  max-width: 111rem;
  margin-bottom: 2.4rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 58em) {
  .four-card-feature-section-container {
    margin-top: 7.5rem;
  }
}

.four-cards-header {
  text-align: center;
  max-width: 54rem;
  color: var(--very-dark-blue);
  margin: 0 auto 7.5rem;
}
.four-cards-header__title {
  font-size: 2.4rem;
  font-weight: 200;
  letter-spacing: 0.006em;
  margin-bottom: 1.6rem;
}
.four-cards-header__title span {
  display: block;
  font-weight: 600;
  margin-top: 0.2rem;
  letter-spacing: 0.006em;
}
.four-cards-header__description {
  font-size: 1.5rem;
  letter-spacing: 0.005em;
  line-height: 1.667em;
  opacity: 0.5;
}
@media (min-width: 35em) {
  .four-cards-header {
    margin: 0 auto 6.3rem;
  }
  .four-cards-header__title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  .four-cards-header__title span {
    font-size: 3rem;
    margin-top: -0.3rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 35em) and (min-width: 58em) {
  .four-cards-header__title {
    font-size: 3.6rem;
  }
  .four-cards-header__title span {
    font-size: 3.6rem;
  }
}

.four-cards {
  margin: auto;
  display: grid;
  gap: 2.4rem;
}
.four-cards__card {
  height: 22.2rem;
  max-width: 35rem;
  padding: 2.6rem;
  color: var(--very-dark-blue);
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0 1.5rem 3rem -1.1rem rgba(131, 166, 210, 0.5);
  position: relative;
  overflow: hidden;
}
.four-cards__supervisor::before {
  content: "";
  width: 100%;
  height: 0.355rem;
  background: var(--cyan);
  position: absolute;
  top: 0;
  left: 0;
}
.four-cards__team-builder::before {
  content: "";
  width: 100%;
  height: 0.355rem;
  background: var(--red);
  position: absolute;
  top: 0;
  left: 0;
}
.four-cards__karma::before {
  content: "";
  width: 100%;
  height: 0.355rem;
  background: var(--orange);
  position: absolute;
  top: 0;
  left: 0;
}
.four-cards__calculator::before {
  content: "";
  width: 100%;
  height: 0.355rem;
  background: var(--blue);
  position: absolute;
  top: 0;
  left: 0;
}
.four-cards__title {
  font-size: 2rem;
  margin-left: 0.2rem;
  margin-bottom: 0.3rem;
}
.four-cards__description {
  font-size: 1.3rem;
  letter-spacing: 0.006em;
  line-height: 1.8em;
  opacity: 0.5;
  margin-left: 0.3rem;
}
.four-cards__icon {
  width: 5.7rem;
  vertical-align: middle;
  position: absolute;
  bottom: 2.8rem;
  right: 2.8rem;
}
@media (min-width: 35em) {
  .four-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 58em) {
  .four-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 3rem;
    max-width: 111rem;
    min-height: 53rem;
  }
  .four-cards__card {
    max-width: 35rem;
    min-height: 25rem;
    padding: 3.2rem;
    margin-bottom: 0;
  }
  .four-cards__card:first-child {
    grid-column: 1;
    grid-row: 2/span 2;
  }
  .four-cards__card:nth-child(2) {
    grid-column: 2;
    grid-row: 1/span 2;
  }
  .four-cards__card:nth-child(3) {
    grid-column: 2;
    grid-row: 3/span 2;
  }
  .four-cards__card:nth-child(4) {
    grid-column: 3;
    grid-row: 2/span 2;
  }
  .four-cards__card:first-child::before, .four-cards__card:nth-child(2)::before, .four-cards__card:nth-child(3)::before, .four-cards__card:nth-child(4)::before {
    height: 0.4rem;
  }
  .four-cards__title {
    margin-top: -0.1rem;
    margin-left: 0;
    margin-bottom: 0.85rem;
  }
  .four-cards__description {
    margin-left: 0;
    line-height: 1.75em;
  }
  .four-cards__icon {
    width: 6.4rem;
    bottom: 3.2rem;
    right: 3.2rem;
  }
}

.attribution {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: var(--very-dark-blue);
  text-align: center;
  opacity: 0.6;
}
.attribution a {
  transition: 0.12s;
  color: var(--very-dark-blue);
}
.attribution a:hover {
  color: black;
}
.attribution a:active {
  color: gray;
}/*# sourceMappingURL=style.css.map */