@use '../abstracts' as a;

body {
    margin: 8.4rem 3.2rem 5.4rem;
    background-color: var(--very-light-gray);

    @include a.breakpoint(desktop) {
            min-height: 100vh;
            margin: 0 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
    }
}

.four-card-feature-section-container {
    max-width: 111rem;
    margin-bottom: 2.4rem;
    font-family: 'Poppins', sans-serif;

    @include a.breakpoint(desktop) {
        margin-top: 2rem;
        margin-bottom: 0;
    }
}