@use "../abstracts" as a;

.four-cards-header {
    text-align: center;
    max-width: 54rem;
    color: var(--very-dark-blue);
    margin: 0 auto 7.5rem;

    &__title {
        font-size: 2.4rem;
        font-weight: 200;
        letter-spacing: .006em;
        margin-bottom: 1.6rem;

        span {
            display: block;
            font-weight: 600;
            margin-top: .2rem;
            letter-spacing: .006em;
        }
    }

    &__description {
        font-size: 1.5rem;
        letter-spacing: 0.005em;
        line-height: 1.667em;
        opacity: .5;
    }

    @include a.breakpoint(tablet) {
        margin: 0 auto 6.3rem;

        &__title {
            font-size: 3rem;
            margin-bottom: 1.5rem;

            span {
                font-size: 3rem;
                margin-top: -0.4rem;
                margin-bottom: 1.5rem;
            }
        }

        @include a.breakpoint(desktop) {    
            &__title {
                font-size: 3.6rem;
    
                span {
                    font-size: 3.6rem;
                }
            }
        }
    }
}